<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Edit Profile</title>
<link rel="stylesheet" type="text/css" th:href="@{/homePageStyles.css}">
</head>
<body>
	<div class="navigationBar">
	<span th:text="${session.username}"></span>
		<a href="/showPost">Posts</a>
		<a href="/openCreatePostPage">Create Post</a>
		<a href="/openMyProfile">My Profile</a>
		<a href="/openEditProfile">Edit Profile</a>
		<a href="/logout">Log Out</a>
	</div>
	<h1>Edit Profile</h1>
	<form action="/editProfile" method="post" enctype="multipart/form-data">
		<input type="date" name="dob" placeholder="Date Of Birth">
		<br><br>
		<input type="radio" name="gender" value="male"><label>Male</label>
		<input type="radio" name="gender" value="female"><label>Female</label>
		<input type="radio" name="gender" value="others"><label>Others</label>
		<br><br>
		<input type="text" name="city" placeholder="Current City">
		<br><br>
		<input type="text" name="bio" placeholder="About you">
		<br><br>
		<input type="text" name="college" placeholder="College">
		<br><br>
		<input type="text" name="linkedIn" placeholder="Linked In">
		<br><br>
		<input type="text" name="github" placeholder="Git Hub">
		<br><br>
		<input type="file" name="profilePhoto" accept="image/*">
		<br><br>
		<button type="submit">Submit</button>
	</form>
</body>
</html>