<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Bean</title>
</head>
<body>
	<h1>Bean</h1>
	<h2>Social Media for GenZ</h2>
	<hr>
	
	<form action="/login" method="post">
	
		<input type="text" name="username" required placeholder="Enter the Username">
		<br><br>
		<input type="password" name="password" required placeholder="Enter the Password">
		<br><br>
		<button type="submit">Login</button>
	</form>
	<hr>
	<a href="/openResetPasswordPage">Forgot Password?</a>
	<br><br>
	<a href="/openSignUpPage">Create New Account</a>
</body>
</html>