<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>My Profile</title>
<link rel="stylesheet" type="text/css" th:href="@{/homePageStyles.css}">
</head>
<body>
	<div class="navigationBar">
	<span th:text="${session.username}"></span>
		<a href="/showPost">Posts</a>
		<a href="/openCreatePostPage">Create Post</a>
		<a href="/openMyProfile">My Profile</a>
		<a href="/openEditProfile">Edit Profile</a>
		<a href="/logout">Log Out</a>
	</div>
	
	<h1>My Profile</h1>
	<div class="profile-picture">
            <img th:if="${user.photoBase64}" 
                 th:src="'data:image/jpeg;base64,' + ${user.photoBase64}" 
                 alt="Profile Photo" />
        </div>
	<p>Name: <span th:text="${user.username}"></span></p>
	<p>Email: <span th:text="${user.email}"></span></p>
	<p>Date Of Birth: <span th:text="${user.dob}"></span></p>
	<p>Gender: <span th:text="${user.gender}"></span></p>
	<p>City: <span th:text="${user.city}"></span></p>
	<p>About U: <span th:text="${user.bio}"></span></p>
	<p>College: <span th:text="${user.college}"></span></p>
	<p>LinkedIn: <span th:text="${user.linkedIn}"></span></p>
	<p>Git Hub: <span th:text="${user.github}"></span></p>
	<hr>
	<div th:each="post : ${myPosts}">
        <span>Posted By <span th:text="${post.user.username}">Unknown</span></span>
        <img class="profilePic" th:if="${post.user.photoBase64}"
                 th:src="'data:image/jpeg;base64,' + ${post.user.photoBase64}" 
                 alt="User Photo"/>
                 
                 
            <p>Photo:</p>
            <img th:if="${post.photoBase64}"
                 th:src="'data:image/jpeg;base64,' + ${post.photoBase64}" 
                 alt="Profile Photo"/>
            <p>Caption:
           	 <span th:text="${post.caption}">
           	 </span>
            </p>
            
            Likes:<span th:text="${post.likes}"> </span>
            
 			<div class="comments-section">
             <h4>Comments:</h4>
             <ul>
              	<li th:each="comment : ${post.comments}">
                     <span th:text="${comment}"></span>
                 </li>
               </ul>
             </div>
              <hr>
        </div>
</body>
</html>