<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/homePageStyles.css}">
</head>
<body>
<div class="navigationBar">
	<span th:text="${session.username}"></span>
		<a href="/showPost">Posts</a>
		<a href="/openCreatePostPage">Create Post</a>
		<a href="/openMyProfile">My Profile</a>
		<a href="/openEditProfile">Edit Profile</a>
		<a href="/logout">Log Out</a>
	</div>
	<h1>This Post was Posted by <span th:text="${user.username}"></span></h1>
	<div class="profile-picture">
            <img th:if="${user.photoBase64}" 
                 th:src="'data:image/jpeg;base64,' + ${user.photoBase64}" 
                 alt="Profile Photo" />
        </div>
	<p>Name: <span th:text="${user.username}"></span></p>
	<p>Email: <span th:text="${user.email}"></span></p>
	<p>Date Of Birth: <span th:text="${user.dob}"></span></p>
	<p>Gender: <span th:text="${user.gender}"></span></p>
	<p>City: <span th:text="${user.city}"></span></p>
	<p>About U: <span th:text="${user.bio}"></span></p>
	<p>College: <span th:text="${user.college}"></span></p>
	<p>LinkedIn: <span th:text="${user.linkedIn}"></span></p>
	<p>Git Hub: <span th:text="${user.github}"></span></p>
	<hr>
</body>
</html>